html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: black !important;
}

.no-margin {
    margin: 0 !important;
}

h5 {
    margin: 16.4px 0px;
}

header, .main {
    padding-left: 300px;
}

.card.hoverable {
    box-shadow: 0 0 0 0 darkorange, 0 0 0 0 darkorange, 0 0 0 0 darkorange;
}

.card.hoverable:hover {
    box-shadow: 0 0 20px 2px darkorange;
    cursor: pointer;
}

.breadcrumbs-section {
    padding: 2%;
}


@media only screen and (max-width: 992px) {
    header, .main {
        padding-left: 0;
    }
}

.logo {
    aspect-ratio: 1;
    width: 80%;
}

.main-color {
    background-color: #161616;
}

.nav-wrapper {
    width: 100%;
}

.input-field label {
    color: darkorange;
}

.input-field input[type=text]:focus + label {
    color: darkorange;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid darkorange;
    box-shadow: 0 1px 0 0 darkorange;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid darkorange;
    box-shadow: 0 1px 0 0 darkorange;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid darkorange;
    box-shadow: 0 1px 0 0 darkorange;
}

.input-field .prefix.active {
    color: darkorange;
}

.input-field input:focus + label {
    color: darkorange !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid darkorange !important;
    box-shadow: 0 1px 0 0 darkorange !important
}

.sidenav {
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.nav-inner-wrapper {
    padding-left: 40px;
    padding-right: 10px;
    justify-content: space-between;
}

.authorization-link {
    width: 100%;
}

.main {
    background-color: grey;
}

.add-to-favorites-btn {
    margin-right: 65px;
}

.card {
    padding-bottom: 5%;
    border-radius: 10px;
    height: auto;
}

.sidenav {
    width: 320px;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 95%;
}

.menu-item {
    padding: 3%;
}

.menu-item-content {
    font-size: calc(0.5vw + 0.6em);
}

.menu-item-link {
    border-radius: 5px;
}

.brand-logo {
    width: 50%;
}

.card-content {
    max-height: 140px;
    min-height: 140px;
    position: relative;
}

.cost-label {
    position: absolute;
    right: 5%;
    bottom: 0;
}

.card-presenter-image {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.modal-btn {
    border-radius: 5px;
}

.search-wrapper {
    height: auto;
}

.modal {
    border-radius: 15px;
}

#search {
    border-radius: 5px;
    outline: none;
    background-color: gray;
    color: white;
    border: none;
    font-size: calc(0.4vw + 0.3em);
    padding: 1%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: 0.7ms;
}

.map-iframe {
    max-width: 100%;
}

.timepicker-digital-display {
    background-color: #161616 !important;
}

.timepicker-tick:focus {
    background-color: darkorange !important;
}

.timepicker-tick:hover {
    background-color: lightsalmon !important;
}

.timepicker-canvas line {
    stroke: darkorange;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: darkorange;
}

#search:focus {
    outline: none;
    border: 1px solid darkorange;
    transition: 0.7ms;
}

.badge {
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
    min-width: 20px !important;
    height: 20px !important;
    position: relative;
}

.control-sum {
    position: relative;
}

hr {
    margin: 0;
}

.control-buttons{
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translate(0%,50%);
}

.in-cart-item-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breadcrumb::before{
    margin: 0 !important;
}

.instagram-logo {
    color: white;
    background-color: white;
}

.breadcrumb-item {
    margin: 0 !important;
}

.section-search input.autocomplete {
    color: #000;
}
.input-field .prefix.active {
    color: #000!important;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #000!important;
}
.autocomplete-content li .highlight {
    color: darkorange!important;
}

.nav-element {
    border-radius: 10px !important;
    line-height: 46px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.material-icons {
    display:inline-flex;
    vertical-align:top;
}

.nav-link {
    border-radius: 5px !important;
    line-height: 46px;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-link {
    border: 1px solid darkorange;
    transition: 0.4s;
}

.auth-link {
    transition: 0.4s;
}

.auth-link:hover {
    background-color: darkorange !important;
    color: black !important;
    transition: 0.4s;
}

.register-link {
    transition: 0.4s;
}

.register-link:hover {
    background-color: white !important;
    color: black !important;
    transition: 0.4s;
}

.cart-link:hover {
    background-color: darkorange;
    color: black !important;
    transition: 0.4s;
}

.navbar-icon {
    height: auto !important;
    line-height: inherit !important;
}

.additional-info {
    border-left: 1px white solid;
}

.good-cart-image {
    border-radius: 10px;
}

.auth-container {
    height: 85vh;
    display: flex;
    justify-content: center;
}

.auth-inner {
    max-width: 500px;
}

.auth-inner {
    border-radius: 15px;
    position: relative;
    padding: 5%;
}

.back-auth-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.auth-header {
    height: 100px;
}

.profile-dropdown-link {
    color: white !important;
    transition: 0.4s;
}

.profile-dropdown-link:hover {
    color: black !important;
    transition: 0.4s;
}

.page-footer {
    border-top: 1px grey solid;
    width: 100%;
}

.main-row {
    margin: 0;
}

.social-media-link {
    font-size: calc(0.8vw + 0.5em);
    padding: 5%;
}

.map-iframe {
    border-radius: 15px;
}

.footer-social {
    padding: 5%;
}

.page-footer {
    margin-top: 5%;
}

.datepicker-date-display {
    background-color: #161616 !important;
}

.is-selected {
    background-color: darkorange !important;
}

.is-today {
    color: darkorange !important;
}

.datepicker-day-button:focus {
    background-color: lightsalmon !important;
}

.month-prev:focus, .month-next:focus {
    background-color: darkorange !important;
    border-radius: 5px;
    transition: 0.2s;
}

.month-prev, .month-next {
    transition: 0.2s !important;
}

.datepicker-cancel, .datepicker-done {
    color: darkorange !important;
}

.cart-view-counter {
    font-size: calc(1vw + 1em);
}

.control-buttons {
    width: 25%;
    justify-content: space-between;
}

.next-step-btn, .clean-cart-btn {
    margin: 1%;
}

.confirm-order-btn {
    margin: 5%;
}
